@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: linear-gradient(to right, #51c2d5, #f7f7e8);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.container {
    background: #75cfb8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}
ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}
ul li {
    padding: 10px;
}
ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.container h1 {
    color: white;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
/* Home page */
.content {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container ul li a:hover {
    font-weight: bolder;
}
.home {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.resume {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.contact {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.school {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.image {
    width: 45%;
    margin-bottom: 50px;
    margin-top: 120px;
    
}
.box-img {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: #83e6bd98;
    display: flex;
    justify-content: center;
    padding: 20px;
}
img {
    width: 80%;
    height: 60vh;
    margin-top: 30px;
    margin: auto;
    border-radius: 10px;
}
.box-img h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}
.box-icon {
    background: #000;
    width: 70%;
    padding: 20px;
    text-align: center;
}
.fa {
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
}
.fa-facebook {
    background: blue;
    color: white;
    border-radius: 10px;
}
.fa-instagram {
    background: linear-gradient( orange, red, yellow);
    color: orange;
    border-radius: 10px;
}
.fa-telegram {
    background: #0bb8f1;
    color: blue;
    border-radius: 10px;
}
.fa-youtube {
    background: white;
    color: red;
    border-radius: 10px;
}
.fa-skype {
    background: #0bb8f1;
    color: white;
    border-radius: 10px;
}
.fa-twitter {
    background:  #0bb8f1;
    color: white;
    border-radius: 10px;
}
.text {
    width: 55%;
    margin-top: 100px;
    padding: 10px;
}
.text h1 {
    font-size: 58px;
}
.text h3 {
    font-size: 28px;
}
.text p {
    font-weight:530;
    margin-top: 20px;
}
.button {
    margin-top: 40px;
    color: black;
    display: flex;
}
.button button {
    box-shadow: 0 0 5px 1px #00000071;
    padding: 10px 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: none;
}
.button a {
    text-decoration: none;
}

.button p {
    margin-top: 60px;
    line-height: 20pt;
}
.resume-size {
    width: 95%;
    margin: auto;
    margin-bottom: 100px;
}
.size-sume {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}
.size-sume button {
    width: 15%;
    padding: 10px;
    outline: none;
    border-radius: 30px;
    background: blue;
    color: white;
    border: none;
    box-shadow: 1px 1px 3px 3px lightskyblue;
    cursor: pointer;
}
.data {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 18pt;
    display: flex;
    justify-content: space-between;
}
span {
    font-weight: 550;
    opacity: 0.9;
}
.cv-pic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.pic {
    width: 40%;
}
.address {
    width: 35%;
    margin-top: 40px;
    line-height: 20pt;
}
.pic img {
    width: 35%;
    height: 35vh;
    display: flex;
    justify-content: flex-end;
}

/* This is the resume page style */
.personal-cv {
    display: flex;
    justify-content: space-between;
}
.data {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.data img {
    border-radius: 50%;
    width: 50%;
    height: 30vh;
    margin-top: 20px;
}
.address {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.cv {
    width: 70%;
    border-top-left-radius: 40px;
    box-shadow: -2px 1px 5px ;
    padding: 15px;
}
.cv h2 {
    color: black;
    margin-top: 50px;
    font-weight: 500px;
}
.cover-letter {
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 5px 1px ;
}
.cover-letter p {
    margin-top: 15px;
    color: black;
}
.card {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.education,
.experience,
.hobbies {
    box-shadow: 0 0 3px 1px;
    width: 30%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
}
.education li,
.experience li,
.hobbies li {
    color: black;
}
.cover-letter h1,
.education h1,
.experience h1,
.hobbies h1 {
    font-weight: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.down {
    display: flex;
    justify-content: space-between;
}
.download {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #0000004b;
}
.download a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
/* Add animation text */
.animate__animated.animate__bounce,
.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeft,
.animate__animated.animate__bounceInRight {
    --animate-duration: 3s;
}


footer {
    background: #23689b;
    padding: 40px;
}
.text-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-name {
    width: 50%;
}
.text-name pre {
    color: #f7f7e8;
    font-size: 12px;
    line-height: normal;
}
.footer-icon {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

/* This is the contact page style */
.body-content {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.location {
    background: #fcf7f78c;
    padding: 20px;
    width: 48%;
    box-sizing: border-box;
    border-radius: 5px;
}
.location h1 {
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-size: 24px;
}
iframe {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.form-content {
    width: 48%;
    background: #fcf7f78c;
    padding: 20px;
    border-radius: 5px;
}
.form-content h3 {

    text-align: center;
    margin: 10px;
}
input[type="text"] {
    width: 49%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}
input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}
input[type="submit"],
input[type="reset"] {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 1px 1px #00000088;
    background: none;
}

/* This is School pages style*/

.school-img {
    width: 80%;
    padding: 40px;
    margin: auto;

}
.school-img h1 {
    margin-bottom: 20px;
}
.school-img img {
    width: 100%;
    box-sizing: border-box;

}
.two-img {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.img1 {
    width: 49%;
}
.img2 {
    width: 49%;
}
.school-text {
    margin-top: 40px;
    line-height: 1.5;
}

/* Create responsive */

@media screen and (max-width: 1120px){
    body {
        margin: 0;
        padding: 0;
    }

/* Create responsive for Resume page */
    .personal-cv {
        display: flex;
        flex-direction: column;
    }
    .data {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        box-shadow: 0 0 5px;
    }
    .data img {
        width: 30%;
        height: 20vh;
    }
    .cv {
        width: 97%;
        padding: 10px;
        box-shadow: none;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 0;
    }
    .education {
        width: 46%;
    }
    .experience {
        width: 46%;
    }
    .hobbies {
        width: 100%;
        margin-top: 20px;
    }
/* Create responsive for school page */
    .school-img h1 {
        font-size: 28px;
    }
    .school-img img {
        height: 50vh;
    }
    .two-img {
        display: flex;
        flex-direction: column;
    }
    .img1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .img2 {
        width: 100%;
    }
    .img1 img,
    .img2 img {
        height: 80vh;
    }
/* Create responsive for contact page */
    .body-content {
        padding: 30px;
        width: 90%;
        margin: auto;
    }
    .location {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        box-shadow: 0 0 10px 1px #0000005d;
    }
    .form-content {
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 0 10px 1px #0000005d;
    }
}
@media screen and (max-width: 768px) {
    /* Create responsive for navbar all page */
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow-x: hidden;
        position: static;
    }
    .container h1 {
        margin: 0;
        margin: auto;
    }
    .container ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .container .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
/* Create responsive for home page */
    .content {
        display: flex;
        flex-direction: column;
    }
    .text {
        width: 100%;
        text-align: center;
    }
    .text h1 {
        font-size: 48px;
    }
    .button {
        width: 50%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .button button {
        margin: 10px;
        padding: 10px 40%;
        box-sizing: border-box;
    }
    .image {
        width: 100%;
        margin-top: 0%;
        text-align: center;
    }
    .image img {
        height: 70vh;
    }
/* Resume page */
    .data img {
        width: 30%;
        height: 20vh;
    }
/* Create responsive for footer */
    .text-right {
        display: flex;
        flex-direction: column;
    }
    .footer-icon {
        justify-content: flex-start;
    }
/* Create responsive for school page */
    .school-img h1 {
        font-size: 28px;
    }
    .school-img img {
        height: 40vh;
    }
    .two-img {
        display: flex;
        flex-direction: column;
    }
    .img1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .img2 {
        width: 100%;
    }
    .img1 img,
    .img2 img {
        height: 50vh;
    }
}
@media screen and (min-width: 10px) and (max-width: 600px) and (orientation: portrait){
    .footer-icon {
        display: flex;
        flex-direction: column;
    }
    
    .fa {
        margin-top: 20px;
    }
    .button button {
        padding: 10px 20%;
        box-sizing: border-box;
    }
/* Create responsive for resume page */
    .data img {
        height: 20vh;
    }
    .education {
        width: 100%;
    }
    .experience {
        width: 100%;
        margin-top: 20px;
    }
/* Create responsive for school page */
    .school-img h1 {
        font-size: 20px;
    }
    .school-img img {
        height: 30vh;
    }
    .img1 img,
    .img2 img {
        height: 35vh;
    }
/* Create responsive for contact page */
    .location iframe {
        height: 200px;
    }
    textarea {
        height: 15vh;
    }
    input[type="text"] {
        width: 100%;
        margin-top: 17px;
    }
    input[type="submit"],
    input[type="reset"] {
        width: 100%;
    }
    input[type="reset"] {
        margin-top: 17px;
    }
/* Hoem page */
    .image img {
        height: 40vh;
    }
}