@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    background: #09363659;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}
ul li {
    padding: 15px;
}
ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.container h1 {
    color: white;
    margin-left: 30px;
}
.content {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container ul li a:hover {
    font-weight: bolder;
    color: red;
}
.container h1:hover {
    color: red;
}
.image {
    width: 45%;
    margin-bottom: 50px;
    margin-top: 40px;
    
}
.box-img {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: #83e6bd98;
    display: flex;
    justify-content: center;
    padding: 20px;
}
img {
    width: 80%;
    height: 60vh;
    margin-top: 30px;
    margin: auto;
    border-radius: 10px;
}
.box-img h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}
.box-icon {
    background: #000;
    width: 70%;
    padding: 20px;
    text-align: center;
}
.fa {
    padding: 15px;
}
.fa-facebook {
    background: blue;
    color: white;
    border-radius: 10px;
}
.fa-instagram {
    background: linear-gradient( red, yellow, orange);
    color: red;
    border-radius: 10px;
}
.fa-telegram {
    background: #0bb8f1;
    color: blue;
    border-radius: 10px;
}
.fa-youtube {
    background: white;
    color: red;
    border-radius: 10px;
}
.text {
    width: 55%;
    margin-top: 100px;
    padding: 10px;
}
.text h1 {
    font-size: 78px;
}
.text p {
    font-weight:530;
    margin-top: 20px;
}
.text button {
    margin-right: 5px;
    margin-left: 5px;
    width: 15%;
    padding: 10px;
    margin-top: 40px;
    outline: none;
    border-radius: 30px;
    background: blue;
    color: white;
    border: none;
    box-shadow: 1px 1px 3px 3px lightskyblue;
    cursor: pointer;
}
.button p {
    margin-top: 60px;
    line-height: 20pt;
}